*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background-color:rgba(118, 180, 196, 0.5);
max-width:900px;
margin:auto;
padding:20px;
}

#main-title{
text-align:center;
text-decoration:underline;
font-weight:bold;
margin-top:20px;
margin-bottom:20px;
}

#about-section p{
line-height:1.6;
text-align:justify;
}

#summary > p{
font-style:italic;
}

h2 + p{
color:#333;
margin:10px 0;
}

a[target="_blank"]{
color:#800080;  /* hex color */
text-decoration:none;
font-weight:bold;
}

.highlight{
color:rgb(221,100,14);
text-decoration:underline;
}

table{
border-collapse:collapse;
}

table th, table td{
border-width:1px;
border-style:solid;
border-color:gray;
padding:8px;
text-align:center;
}

h2{
margin:20px 0 10px 0;
}

p{
font-size:16px;
line-height:1.6;
text-align:left;
}

.contact{
color:rgb(146, 103, 216);
font-weight:bold;
}

.intro::first-letter{
font-size:20px;
color:red;
font-weight:bold;
font-family:Georgia, 'Times New Roman', Times, serif;
}

/* first line pseudo element */

.intro::first-line{
font-style:italic;
}

::selection{
background-color:black;
color:white;
}

button{
padding:8px;
border-radius:5px;
}

button:hover{
background-color:green;
color:white;
}

button:active{
background-color:red;
}

input[type="checkbox"]:checked{
accent-color:green;
}

img{
border-width:3px;
border-style:solid;
border-color:rgb(189, 16, 180);
border-radius:15px;
opacity:0.9;
margin-left:10px;
}

.motivation{
margin-left:10px 0;
font-size:16px;
letter-spacing:0;
word-spacing:0;
line-height:1.5;
max-width:700px;
}

video{
display:block;
margin-top:10px;
height:auto;
}

img{
border:3px solid rgb(175, 16, 80);
border-radius:20px;
margin-top:20px;
padding:10px;
transition: transform 0.5s ease;
}

img:hover{
transform: scale(1.2);
}

input[type="password"]{
border:2px solid red;
}

input[type="radio"]:checked + label{
color:red;
font-weight:bold;
}

.project-container{
display:flex;
gap:30px;
}

.project-card{
width:250px;
padding:15px;
background:burlywood;
border:1px solid #0b0a0a;
transition:0.4s;
}

.project-card:hover{
transform:translateY(-15px);
}

/*Position*/

.profile-card{
position:relative;
display:inline-block;
}

.badge{
position:absolute;
top:10px;
right:10px;
background:red;
color:white;
padding:5px 10px;
font-size:12px;
}

/*flexbox*/
.skills-flex{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.skill-box{
background:#523ca0;
color:rgb(244, 236, 236);
padding:20px;
width:120px;
text-align:center;
font-weight:bold;
border-radius:8px;
}

/* .....*/
.profile-card{
position:relative;
display:inline-block;
}

.badge{
position:absolute;
top:10px;
right:10px;
background:red;
color:white;
padding:5px 10px;
font-size:12px;
}

.static-info{
position:static;
margin-top:10px;
background:#e6f7ff;
padding:5px;
width:200px;
}

.fixed-info{
position:fixed;
bottom:20px;
right:20px;
background:#333;
color:white;
padding:10px;
border-radius:5px;
}

/*transition and transform*/
.portfolio-transition{
display:flex;
gap:25px;
justify-content:center;
margin-top:20px;
flex-wrap:wrap;
}

.portfolio-box{
width:230px;
padding:15px;
background:#e6f7ff;
border:1px solid #ccc;
border-radius:8px;
text-align:center;

/* Transition Properties */
transition-property: transform, background;
transition-duration: 0.7s;
transition-timing-function: ease-in-out;
transition-delay: 0.2s;
}

/* ROTATE */
.rotate-card:hover{
transform: rotate(10deg);
background:#e28ef1;
}

/* SCALE */
.scale-card:hover{
transform: scale(1.15);
background:#6ebf17;
}

/* SKEW */
.skew-card:hover{
transform: skew(12deg);
background:#dc8324;
}

/*transition*/
.skill-animation-container{
display:flex;
justify-content:center;
margin-top:20px;
}

.skill-animation-box{
width:140px;
height:140px;
background:#008080;
color:white;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
font-weight:bold;

/* transition properties */
transition-property: border-radius, transform;
transition-duration: 1s;
transition-timing-function: ease-in-out;
transition-delay: 0.2s;
}

.skill-animation-box:hover{
border-radius:50%;
background:black;
animation: floatSkill 1s infinite alternate;
}

.translate-container{
height:150px;
background:#eee;
position:relative;
margin-top:20px;
}

.translate-box{
width:120px;
height:120px;
background:orange;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
font-weight:bold;
transition:0.5s;
/*cursor: pointer;*/
position:absolute;
left:0;
top:0;
}

.translate-box:hover{
transform:translate(200px,50px);
}
/*.hover-text{
position:absolute;
opacity:0;
font-size:14px;
padding:10px;
}*/

/* hidden text */
.hover-text{
position:absolute;
top:60px;
left:150px;
opacity:0;
font-size:14px;
padding:10px;
transition:0.5s;
}
/* when container is hovered 
.translate-container:hover .translate-box{
transform:translate(200px,50px);
} */

/* show text when hovering the box */
.translate-box:hover + .hover-text{
opacity:1;
} 